@model ReservationSystem.Models.Reservation
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Details";
}

<section id="booking-index" class="booking-index row">
    <div class="section-title">
        <h1>Reservation for: @Html.DisplayFor(modelItem => Model.FirstName) @Html.DisplayFor(modelItem => Model.LastName)</h1>
        <h4>Hi @user.FirstName</h4>
        <br/>
    </div>
    <div class="card booking-card">
        <div class="card-header">
            <h4>Date</h4>
        </div>
        <div class="card-body">
            <h5>@Model.ResDate.ToShortDateString()</h5>
        </div>
    </div>
    <div class="card booking-card">
        <div class="card-header">
            <h4>Start Time</h4>
        </div>
        <div class="card-body">
            <h5>@Model.StartTime.ToShortTimeString()</h5>
        </div>
    </div>
    <div class="card booking-card">
        <div class="card-header">
            <h4>@Html.DisplayNameFor(m => m.SessionType)</h4>
        </div>
        <div class="card-body">
            <h5>@Html.DisplayFor(m => Model.SessionType)</h5>
        </div>
    </div>
    <div class="card booking-card">
        <div class="card-header">
            <h4>Number of People</h4>
        </div>
        <div class="card-body">
            <h5>@Html.DisplayFor(m => m.NoOfPpl)</h5>
        </div>
    </div>
    <div class="card booking-card">
        <div class="card-header">
            <h4>Status</h4>
        </div>
        <div class="card-body">
            <h5>@Html.DisplayFor(m => m.BookingStatus)</h5>
        </div>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { Model.BookingId }) |
        <a asp-action="Index">Back to List</a>
    </div>
</section>
