@model IEnumerable<ReservationSystem.Models.Table>

@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    ApplicationUser.Name fullName = new ApplicationUser.Name();
}

@{
    ViewData["Title"] = "Index";
}

<section id="Table-Index" class="Table-Index row">
    <div class="section-title">
        <h1>Tables</h1>
        <h4>Hi @fullName.FullName(user)</h4>
    </div>
    <div class="area-picker">
        <a type="button" class="button-64" href="@Url.Action("Index")">
            <span>Overview</span>
        </a>
        <a type="button" class="button-64" href="@Url.Action("IndexArea", new {area = Table.AreaEnum.Main})">
            <span>Main</span>
        </a>
        <a type="button" class="button-64" href="@Url.Action("IndexArea", new {area = Table.AreaEnum.Outside})">
            <span>Outside</span>
        </a>
        <a type="button" class="button-64" href="@Url.Action("IndexArea", new {area = Table.AreaEnum.Balcony})">
            <span>Balcony</span>
        </a>
    </div>
    <div class="card table-card">
        <div class="card-header">
            <h2>Main</h2>
        </div>
        <div class="card-body">
            <h3>Tables: @Model.Where(a => a.Area == Table.AreaEnum.Main).Count()</h3>
        </div>
        <div class="card-footer">
            @Html.ActionLink("+", "QuickAdd", new { area = Table.AreaEnum.Main }, new {@class = "button-64"})
            @Html.ActionLink("-", "Delete", new { area = Table.AreaEnum.Main }, new {@class = "button-64"})
        </div>
    </div>
    <div class="card table-card">
        <div class="card-header">
            <h2>OutSide</h2>
        </div>
        <div class="card-body">
            <h3>Tables: @Model.Where(a => a.Area == Table.AreaEnum.Outside).Count()</h3>
        </div>
        <div class="card-footer">
            @Html.ActionLink("+", "QuickAdd", new { area = Table.AreaEnum.Outside }, new {@class = "button-64"})
            @Html.ActionLink("-", "Delete", new { area = Table.AreaEnum.Outside }, new {@class = "button-64"})
        </div>
    </div>
    <div class="card table-card">
        <div class="card-header">
            <h2>Balcony</h2>
        </div>
        <div class="card-body">
            <h3>Tables: @Model.Where(a => a.Area == Table.AreaEnum.Balcony).Count()</h3>
        </div>
        <div class="card-footer">
            @Html.ActionLink("+", "QuickAdd", new { area = Table.AreaEnum.Balcony }, new {@class = "button-64"})
            @Html.ActionLink("-", "Delete", new { area = Table.AreaEnum.Balcony }, new {@class = "button-64"})
        </div>
    </div>
</section>