@model IEnumerable<ReservationSystem.Models.Table>

@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "IndexArea";
}

<section id="Table-Index" class="Table-Index row">
    <div class="section-title">
        <h1>Tables</h1>
        <h4>Hi @user.FirstName</h4>
    </div>
    <div class="area-picker">
        <a type="button" class="button-64" href="@Url.Action("Index")">
            <span>Overview</span>
        </a>
        <a type="button" class="button-64" href="@Url.Action("IndexArea", new {area = Table.AreaEnum.Main})">
            <span>Main</span>
        </a>
        <a type="button" class="button-64" href="@Url.Action("IndexArea", new {area = Table.AreaEnum.Outside})">
            <span>Outside</span>
        </a>
        <a type="button" class="button-64" href="@Url.Action("IndexArea", new {area = Table.AreaEnum.Balcony})">
            <span>Balcony</span>
        </a>
    </div>
    @foreach (var item in Model)
    {
        <div class="card table-card">
            <div class="card-header">
                <h2>@Html.DisplayFor(i => item.TableNum)</h2>
            </div>
            <div class="card-body">
                <h3>@Html.DisplayFor(i => item.Seats)</h3>
            </div>
            <div class="card-footer">
                <a type="button" class="button-64" href="@Url.Action("Edit", new {id = item.Id, table = item})">
                    <span>Edit</span>
                </a>
            </div>
        </div>
    }
</section>