@model IEnumerable<ReservationSystem.Models.SittingSchedule>

@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
@{
    ViewData["Title"] = "Index";
}
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<section id="SittingSchedule-Index" class="SittingSchedule-Index row">
    <div class="section-title">
        <h1>Sitting Schedule</h1>
        <h4>Hi @user.FirstName</h4>
    </div>
    <div class="session-picker">
        <a type="button" class="button-64" href="@Url.Action("Edit", new {sessionId = 1})">
            <span>Breakfast</span>
        </a>
        <a type="button" class="button-64" href="@Url.Action("Edit", new {sessionId = 2})">
            <span>Lunch</span>
        </a>
        <a type="button" class="button-64" href="@Url.Action("Edit", new {sessionId = 3})">
            <span>Dinner</span>
        </a>
    </div>
    @foreach (var item in Model)
    {
        <div class="card schedule-card">
            <div>
                    <img src="@item.ImageUrl" class="card-img-top" >
            </div>
            <div class="card-header">
                <h2>@Html.DisplayFor(modelItem => item.SessionType)</h2>
            </div>
            <div class="card-body">
                <h3>Capacity: @Html.DisplayFor(i => item.Capacity)</h3>
                <h4>@Html.DisplayFor(i => item.StartTime) - @Html.DisplayFor(i => item.EndTime)</h4>
                <h4>@Html.DisplayFor(i => item.StartDate) - @Html.DisplayFor(i => item.EndDate)</h4>
            </div>
        </div>
    }
</section>
